<header>
    <div class="container">
        <div class="title">
            <h4>
                <a href="/">Bargains<span>Invest</span>.com</a>
            </h4>
        </div>
        <nav>
            <ul class="nav-menu"">
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>