<header>
    <div class="container">
        <div class="title">
            <h4>
                <a href="/">Bargains<span>Invest</span>.com</a>
            </h4>
        </div>
        <nav>

            <ul class="nav-menu">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/blog/" class="nav-link">Blog</a></li>
            </ul>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header>