<dl>
    <dt>The Graph</dt>
    <dd>
        <span>Bajs: 7%</span>
    </dd>
    <dd>
        <span>Kiss: 17%</span>
    </dd>
    <dd>
        <span>Efterblivenhet: 76%</span>
    </dd>
</dl>

<!-- Some shit I maybe need to make the website-->

<div class="container">
    <h1><a href="https://www.youtube.com/watch?v=4wD00RT6d-g" target="_blank">Video</a></h1>

    <a href="https://thinkdobecreate.com/articles/minimum-static-site-sass-setup/" target="_blank">Link SCSS</a>

    <a href="https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4" target="_blank">SCSS Structure</a>

    <p>Hello Whats up?</p>
    <p>
        Make charts!! <a href="https://css-tricks.com/making-charts-with-css/" target="_blank">Here</a>
    </p>
</div>