<div class="container">
    <h2>Find cheap stocks!</h2>

<br>
    <p>
        In here we won't just bargin hunt for consumable goods but for <b>stocks</b> aswell.
    </p>
    <br>
    <p>
        Have you ever been afraid that a stock will loose you money? Say no more.
    </p>
    <br>
    <p>
        By going for <b>cheap</b> stocks we will try to eliminate the risk of losing money over time.
    </p>

</div>