<p class="text-warning">
    I am not a professional and errors will occur since I personally do my own calculations and research till I think it's enough. 
    Don't assume anything is correct and do <b>your own</b> research. I am limited by the things I cannot do, so can you do better <b>do it!</b>.
</p>