@use "../utilities" as *;

* {
    box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
    //Removes Underline.
    text-decoration: none;

    color: $color-special;

    &:hover {
        color: $color-special-100; 
    }
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

::selection {
    background: $color-special-100;
    color: $color-light;
}