@use "../utilities" as *;

body {
    font-family: $font-family;
}

.title {
    a {
        color: inherit;
    }

    span {
        color: $color-special;
    }
}

.copyright {
    display: flex;
    justify-content: center;
}
