@use "../utilities" as *;

body {
    font-family: $font-family;
    line-height: 1.5;
}
p {
    font-size: $font-size;
    color: $color-grey;
    max-width: 60ch;
}

h1 {
    font-size: $font-size * 4;
}
h2 {
    font-size: $font-size * 3;
}
h3 {
    font-size: $font-size * 2;
}
h4 {
    font-size: $font-size * 1.5;
}

.title {
    a {
        color: inherit;
    }

    span {
        color: $color-special;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    color: $color-light;
}
