* {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: green;
}
a:hover {
  color: #05b105;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

::-moz-selection {
  background: #05b105;
  color: white;
}

::selection {
  background: #05b105;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  color: #5c5c5c;
  max-width: 60ch;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.title a {
  color: inherit;
}
.title span {
  color: green;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
}

.btn {
  background-color: green;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7em 1.5em;
  border-radius: 8px;
}
.btn:hover {
  background-color: #05b105;
  color: white;
}
@media (min-width: 1100px) {
  .btn {
    padding: 0.7em;
    font-size: 1.2rem;
  }
}

.hero, .hero-img, .hero-special {
  color: white;
  margin-bottom: 5em;
}
.hero .container, .hero-img .container, .hero-special .container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 900px) {
  .hero .container, .hero-img .container, .hero-special .container {
    padding: 5em 1em;
  }
}

.hero-special {
  background-color: green;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  z-index: 1;
}
.hero-img img {
  max-height: 25em;
}
.hero-img .content {
  position: absolute;
  z-index: 2;
  padding: 3em;
}

.snippet h2, .snippet h3 {
  margin-top: 0.5em;
}
.snippet li {
  margin-top: 3em;
}
.snippet li:first-child {
  margin: 0;
}
.snippet img {
  grid-area: image;
}
.snippet .content {
  grid-area: cont;
}
.snippet span {
  color: #383838;
  font-weight: 500;
}
.snippet p {
  margin: 0.7em 0;
}
.snippet p:nth-child(3) {
  color: #383838;
  margin-bottom: 2em;
}
@media (min-width: 900px) {
  .snippet article {
    display: grid;
    grid-template-areas: "cont image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.snippet-featured p:nth-child(2) {
  margin: 0.5em 0;
}
.snippet-featured p:nth-child(2) span {
  color: #383838;
}
.snippet-featured p:nth-child(3) {
  margin-bottom: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.snippet-featured article {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 2em;
}
.snippet-featured .content {
  padding: 1em 2em 3em 2em;
}
@media (min-width: 600px) {
  .snippet-featured .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2em;
  }
}

footer {
  background-color: green;
  color: white;
  padding: 3em;
}
footer .container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

header {
  margin-top: 1em;
}
header nav a {
  color: #383838;
}
header li {
  margin-right: 1em;
}
header li:last-child {
  margin-right: 0;
}
@media (min-width: 900px) {
  header li {
    left: 0;
  }
}
header ul {
  display: flex;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}
header .nav-menu.active {
  left: 0;
}
header .container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #383838;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

main {
  margin-top: 3em;
  margin-bottom: 3em;
}
main .container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

article img {
  max-height: 25em;
}
article p :first-child {
  margin-bottom: 5em;
}

.posts h1 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.posts .container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 800px;
}
.posts img:first-child {
  max-height: 20em;
}

.post-title p {
  margin-bottom: 1em;
}

.post-description {
  font-size: 1.3rem;
  margin-bottom: 1em;
  color: #383838;
}/*# sourceMappingURL=style.css.map */