$color-special: green;
$color-special-100: rgb(5, 177, 5);
$color-light: white;

$font-family: 'Roboto', sans-serif;

$padding-sides: 1em;

$size-small: 800px;
$size-medium: 1000px;
$size-big: 1200px;