//#11823b
$color-special: #478B8F;
$color-special-100: rgb(5, 177, 5);
$color-special-200: #30AA47;
$color-light: white;
// #111
$color-dark: #3A4E4F;
$color-grey: #333333;
$color-grey-100: #909090;
$color-grey-200: rgb(218, 214, 214);
$color-background: white;
$color-red: red;
$color-green: #30AA47;

$font-family: 'Roboto', sans-serif;
$font-size: 1rem;

$padding-sides: 1.5em;

//Top and bottom at pages.
$between-pages: 10em;

$size-small: 800px;
$size-medium: 1000px;
$size-big: 1200px;

$size-phone: 600px;
$size-tablet: 900px;
$size-pc: 1100px;