@use "../utilities" as *;

.hero {
    color: $color-light;
    margin-bottom: 5em;

    .container {
        @include container(medium);
        padding: 3em $padding-sides;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include screen(tablet) {
            padding: 5em $padding-sides;
        }
    }
}

.hero-special {
    @extend .hero;
    background-color: $color-special;
}

.hero-img {
    @extend .hero;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
        z-index: 1;
    }

    img {
        max-height: 25em;
    }

    .content {
        position: absolute;
        z-index: 2;
        padding: 3em;
    }
}