---
title: About
layout: 'base.njk'
---

<div class="hero-special">
    <div class="container">
        <h1>About</h1>
    </div>
</div>
<div class="container">
    
    <h3>Why did I make this blog?</h3>

    <br>
    <p>
        The point is to share different buying opportunities and, by having the world see my work, I can get some feedback and motivation to do it more professionally.
    </p>

    <br>
    <p>
        My dream is that everyone that reads this blog will make or save more money over time and, thus, I can be proud of my work.
    </p>

    <h2 class="mr-top">What I belive in</h2>

    <br>
    <p>
        Compounding is one of the wonders of the world.
    </p>

    <br>
    <p>
        Just by having all the money in an index fund like <a href="https://investor.vanguard.com/etf/profile/VOO" target="_blank">VOO</a> just about everyone can become rich over time.
    </p>

    <br>
    <p>
        If we are capable of saving a few more $$$ we can get there even sooner.
    </p>

    <br>
    <p>
        If we manage to save and make a bargain, we make it 100% closer to our goal.
    </p>

    <br>
    <p>
        By comparing it to VOO, we can try to make a bargain in stocks. This is not as guaranteed as with regular bargains though. Since we can't see the future and know for sure how they will perform.
    </p>

    <br>
    <br>
    <h3>We could have an advantage</h3>
    <br>
    <p>
        The very rich can't buy something small because of their large volumes they will increase the prices. So they are way more forced to buy different kinds of stocks.
    </p>

    <br>
    <p>
        We, on the other hand, can buy anything we can afford without pushing up the price.
    </p>

    <br>
    <p>
        So, in my theory, we should be able to make a better return on our investments. At least till we reach a massive amount of money.
    </p>
</div>