---
title: Bargain Invest
layout: 'base.njk'
---
    <h1><a href="https://www.youtube.com/watch?v=4wD00RT6d-g" target="_blank">Video</a></h1>

    <a href="https://thinkdobecreate.com/articles/minimum-static-site-sass-setup/" target="_blank">Link SCSS</a>

    <p>Hello Whats up?</p>
