---
title: Bargain Invest
layout: 'base.njk'
---
<div class="hero-img">
    <img src="https://images.unsplash.com/photo-1607863680198-23d4b2565df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Sale picture">
        <div class="content">
            <h1>Welcome to my sexy website!</h1>
        </div>
    </div>
</div>

    {% include 'components/explain-this.njk' %}

    <br>
    <br>
    <br>
    <br>

    {% include 'components/featured.njk' %}

<div class="container">
    <h1><a href="https://www.youtube.com/watch?v=4wD00RT6d-g" target="_blank">Video</a></h1>

    <a href="https://thinkdobecreate.com/articles/minimum-static-site-sass-setup/" target="_blank">Link SCSS</a>

    <a href="https://itnext.io/structuring-your-sass-projects-c8d41fa55ed4" target="_blank">SCSS Structure</a>

    <p>Hello Whats up?</p>
    <p>
        Make charts!! <a href="https://css-tricks.com/making-charts-with-css/" target="_blank">Here</a>
    </p>
</div>
